<%- include("./../partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header">
        Edit your comment on <%=blog.title%>
    </div>

    <form class="ui form" action="/blogs/<%=blog._id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
        <div class="field">
            <label>Your Comment:</label>
            <textarea required name="comment[text]"><%=comment.text%></textarea>
        </div>
        <input class="ui black basic button" type="submit">
    </form>
</div>

<%- include("./../partials/footer") %>